# Configuración de la aplicación
DEBUG=False
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Configuración de la base de datos PostgreSQL
DATABASE_URL=postgresql://username:password@host:5432/database_name

# Configuración de PostgreSQL (para docker-compose)
POSTGRES_DB=your_database_name
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password 