# Configuración de la aplicación
DEBUG=False
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Configuración de la base de datos PostgreSQL
DATABASE_URL=postgresql://username:password@host:5432/database_name

# Configuración de PostgreSQL (para docker-compose)
POSTGRES_DB=your_database_name
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password

# Puertos para docker-compose
POSTGRES_PORT=5432
WEB_PORT=8000
REDIS_PORT=6379

# Configuración de Amazon SES para correos
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_SES_REGION=us-east-1
DEFAULT_FROM_EMAIL=noreply@tudominio.com
AWS_SES_CONFIGURATION_SET=