{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}ARCH MANAGER{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css">
    <link href="{% static 'css/auth.css' %}" rel="stylesheet" />
    <link href="{% static 'images/favicon.png' %}" rel="shortcut icon" />
    {% block extra_head %}{% endblock %}
</head>
<body id="body" class="auth-body">
    <div class="auth-wrapper">
        <div class="auth-image-container">
            <!-- La imagen de fondo se aplicará con CSS -->
        </div>
        <div class="auth-form-container">
            <div class="auth-form-inner">
                <div class="auth-header">
                    <a class="app-logo" href="/">
                        <svg width="36" height="36" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20ZM13 7H11V11H7V13H11V17H13V13H17V11H13V7Z" fill="#212529"/>
                        </svg>
                    </a>
                </div>
                <div class="auth-content-area">
                    {% block auth_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    
    {% block extra_scripts %}{% endblock %}
</body>
</html>